Fixacao/tutorial.dtd

<!ELEMENT tutorial (AAA* , BBB)>
<!ELEMENT XXX (AAA+ , BBB+)>
<!ELEMENT AAA (BBB | CCC)>
<!ELEMENT BBB (#PCDATA | CCC)*>
<!ELEMENT CCC (#PCDATA)>
<!ATTLIST AAA 
    IDENT ID #REQUIRED 
    TIPO (AA1 | AA2 | AA3) "AA1"
>
<!ATTLIST CCC 
    IDENT IDREF #REQUIRED 
    IMG ENTITY #REQUIRED
>
<!NOTATION GIF SYSTEM "/usr/local/bin/gif_viewer">
<!ENTITY HHH SYSTEM "hhh.gif" NDATA GIF>
<!ENTITY OOO SYSTEM "ooo.gif" NDATA GIF>
<!ENTITY YYY SYSTEM "yyy.gif" NDATA GIF>